.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    overflow: scroll;
}

@media only screen and (max-width: 768px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media only screen and (max-width: 1023px) {
    .Burger {
        width: 600px;
        height: 500px;
    }
} 

@media only screen and (min-width: 1024px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
} 
